<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> imagen </th>
            <td mat-cell *matCellDef="let element var">
                <img src="{{element.img}}" alt="{{element.nombre_producto}}" class="img-responsive"
                    style="height:100px;">
            </td>
        </ng-container>
        <ng-container matColumnDef="product_info">
            <th mat-header-cell *matHeaderCellDef> inf-Producto </th>
            <td mat-cell *matCellDef="let element">
                <p>nombre: {{element.nombre_producto}}</p>
                <p>marca: {{element.marca}}</p>
                <p>descripción: {{element.descipcion}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> stock </th>
            <td mat-cell *matCellDef="let element">
                <p>{{element.stock}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let element">
                <p>{{element.precio}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="accions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-row" *ngIf="Permisions">
                    <div class="example-flex-container">
                        <button mat-icon-button matTooltip="Editar Producto" color="primary"
                            [routerLink]="['/dashboard/productos/crear-producto/']" [queryParams]="{ id: element.id}"
                            queryParamsHandling="merge">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteProduct(element.id)"
                            matTooltip="Eliminar Producto">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of products">
    </mat-paginator>
</div>