<mat-toolbar color="primary">
    <span>{{userName}} ({{perfil}})</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/productos">Productos</button>
    <span class="example-spacer"></span>
    <button  (click)="Onlogaut()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>