<div class="container">
    <mat-card style="margin-top: 10px;">

        <mat-grid-list cols="3" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1>Bienvenido</h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="4">
                <img [src]="'image../../../../assets/img/robot-bender.gif'" alt="" class="img-responsive"
                    style="max-height:250px;">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1>Herzlich willkommen</h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1>Welcome</h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1>Accueillir</h1>
            </mat-grid-tile>

        </mat-grid-list>

    </mat-card>
</div>