<div class="container">
    <mat-toolbar>
        <div *ngIf="editMode; else elseBlock">
            Editar Producto
          </div>
          <ng-template #elseBlock>
            Nuevo Producto
          </ng-template>
          
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="formProduct" (ngSubmit)="Submit()">
            <input type="text" style="display: none;" formControlName="idProduct"/>
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Nombre del producto</mat-label>
                        <input matInput  formControlName="nameProduct" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="6" >
                    <img [src]="imagePath" alt="" class="img-responsive" style="max-height:250px;">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción del producto</mat-label>
                        <input matInput  formControlName="descripction" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Marca del producto</mat-label>
                        <input matInput  formControlName="brand" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ruta de la imagen</mat-label>
                        <input matInput  formControlName="imagePath" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Precio del producto</mat-label>
                        <input type="number" matInput  value="" formControlName="priceProduct" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Stock del producto</mat-label>
                        <input type="number" matInput  value="" formControlName="stockProduct" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
             
                <mat-grid-tile [colspan]="" [rowspan]="1">
                    <div class="example-button-row">
                        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Regresar</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!formProduct.valid">Guardar</button>
                        
                    </div>
                </mat-grid-tile>
            </mat-grid-list>


        </form>
    </mat-card>


</div>