<div class="container">
    <mat-toolbar>
        <span>Productos</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>

        <button *ngIf="hasPermisions"
        mat-icon-button class="example-icon" (click)="newProduct()"
         matTooltip="Nuevo Producto" color="primary">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-toolbar>
     <router-outlet></router-outlet>
     <app-product-list [Permisions]="hasPermisions" ></app-product-list>
</div>