.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: whitesmoke;;
}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.ancho{
    width: 80%;
}
.button{
    height: 50px;
}