<div class="body">
    <div class="login">
        <app-spinner *ngIf="loading"></app-spinner>
        <form [formGroup]="formAuth" (ngSubmit)="Submit()" *ngIf="!loading">
            <img src="../../../assets/img/iniciar-sesion.png" alt="login" height="50px">
            <h1>Inicia Sesión</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="user" type="email" autocomplete="off" placeholder="Ex. pat@example.com">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off" >
                <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" class="ancho button" type="submit" [disabled]="formAuth.invalid">Ingresar</button>
        </form>
    </div>


</div>